
/*tags*/
p{

	color: white;
	font-family:Helvetica,Arial;
 }




*{
	margin: 0;
	padding: 0;
	font-family: Helvetica,arial;
}


header{
	background-color: #35b8b0;
	min-height: 80px;
	padding: 20px;
}


footer{
     clear: both;
	background-color: #35b8b0;
	height:80px;
	text-align: center;
	padding: 10px;
}   

h1{
   color: white;
   text-align: center;
   margin: 0 0 50px 0 ;
   
}


/*ids*/
#principal{
	background-image: url("https://lh3.googleusercontent.com/R19tzAq-Fcw60Sn8en5YXeSsh21HgZb9HOrDBSG82CuewVHaF5pvjYDjxvfQLROSMGpR=s128");
	background-size: 100%;
	min-height: 600px;
	padding: 50;
	
}


/* class */

.container{

	margin: 0 auto;
}


