
/*tags*/
p{

	color: white;
	font-family:Helvetica,Arial;
 }




*{
	margin: 0;
	padding: 0;
	font-family: Helvetica,arial;
}


header{
	background-color: #35b8b0;
	min-height: 80px;
	padding: 40px;
}


footer{
     clear: both;
	background-color: #35b8b0;
	height:80px;
	text-align: center;
	padding: 10px;
}   

h1{
   color: white;
   text-align: center;
   margin: 0 0 50px 0 ;
   
}


/*ids*/
#principal{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/8/8d/Red_Hot_Chili_Peppers_Squier_Stratocaster_guitar%2C_Hard_Rock_Cafe_Cairo.jpg");
	background-size: 100%;
	min-height: 500px;
	padding: 50;
	
}


/* class */

.container{

	margin: 0 auto;
}


