
/*tags*/
p{

	color: white;
	font-family:Helvetica,Arial;
	text-shadow: 1px 1px 1px #111111;
 }




*{
	margin: 0;
	padding: 0;
	font-family: Helvetica,arial;
}


header{
	background-color:#B0BEC5;
	min-height: 80px;
	padding: 20px;
}


footer{
     clear: both;
	background-color: #B0BEC5;
	height:80px;
        font-size: 12px;
	text-align: center;
	padding: 10px;
}   

h1{
   color: white;
   text-align: center;
   text-shadow: 1px 1px 1px #111111;
   margin: 0 0 50px 0 ;
   
}


/*ids*/
#principal{
	background-image:url("https://i.pinimg.com/originals/e2/98/16/e29816028cee4ede97c3cf66525281e8.jpg");
	background-size: 100%;
	min-height: 500px;
	padding: 50;
	clear:both;
	
}


#logo{
	float: left;
}


#menu{
     
	float:right;
    margin-top:30px;

}

#menu a{
	text-decoration: none;
	color:#111;
	padding:10px;

}
#menu a:hover{

	background-color:#B0BEC5 ;
	color:#111 ;
}

/* class */

.container{

	margin: 0 auto;
}

.efeito{
	background-color:rgba(0,0,0,0.5);
}

